.global__container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px; 
	border-radius: 16px;
	background-color: var(--back-color);
	transition: background-color 0.3s ease;
}

.header_theme {
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
}

.app__wrapper {
	display: flex;
	margin-top: 50px;
}

.app__container {
	width: 100%;
	max-width: 1024px;
	display: grid;
	grid-template-columns: 0.2fr 1fr;
	
	gap: 20px;
	grid-template-areas:
		"time weather"
		"daily hourly";
}

.header_time {
	grid-area: time;
}

.weather_card {
	grid-area: weather;
}

.forecast_daily {
	grid-area: daily;
}

.forecast_hourly {
	grid-area: hourly;
	
}